---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
  <h1>About me, Samuel Castro</h1>

  <p>Soy Ingeniero de Software, tengo intereses en desarrollo web, inteligencia artificial y tecnologías emergentes.</p>
</MainLayout>
