---
import MainLayout from "../layouts/MainLayout.astro";

const nombre = "Samuel Castro";

const fechaActualizacion = new Date().toLocaleDateString();
const horaActualizacion = new Date().toLocaleTimeString();
---

<MainLayout title="Home">
  <h1>Bienvenido a mi sitio web</h1>
  <p>Mi nombre es {nombre}</p>

  <footer>
    <p>{fechaActualizacion} {horaActualizacion}</p>
    <p id="hora_actual"></p>
  </footer>

  <script>
    const horaActualElemento = document.querySelector(
      "#hora_actual",
    ) as HTMLParagraphElement;

    const horaActual = new Date().toLocaleTimeString("es-ES", {
      hour: "2-digit",
      minute: "2-digit",
      second: "2-digit",
      hour12: true,
    });

    horaActualElemento.textContent = `La hora actual es: ${horaActual}`;
  </script>
</MainLayout>
